@use "sass:map" as map;

@use "../abstracts/variables" as var;

:root {
  font-size: var.$font-size;
}

body {
  font-family: var.$font-stack;
}

h1, h2 {
  color: map.get(var.$colors, dark-blue);
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

p {
  font-size: 0.75rem;
  color: map.get(var.$colors, grayish-blue);
  font-weight: 400;
}
